.input {
  width: calc(100% - 150px);
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 1rem;
}

.select {
  width: 150px;
  padding: 0.45rem;
  border: 1px solid #ccc;
  border-left: 0;
  border-radius: 0.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 1rem;
  cursor: pointer;
}

.select:focus {
  outline: none;
}



